html,
body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", "Inter", "Space Grotesk", sans-serif;
  background-color: #ECF1F6;
}

h1 {
  color: #309bae;
}

h2 {
  color: #0D9488;
}

h3 {
  color: #0F172A;
}

header {
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #003366;
  font-weight: 500;
}

nav a:hover {
  border-bottom: 2px solid #0D9488;
  border-radius: 10px;
}

/* Links das instituições */

.institution-link {
  color: inherit;
  text-decoration: none;
}

.institution-link:visited {
  color: inherit;
}

.institution-link:hover {
  color: inherit;
  text-decoration: underline;
}

.institution-link:active {
  color: inherit;
}

main {
  max-width: 1000px;
  margin: 60px auto;
  padding: 0 20px;
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 80px;
  padding: 20px;
  font-size: 14px;
  color: #666;
  text-align: center;
}
