html, body {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", "Inter", "Space Grotesk";
  background-color: #F8FAFC;
  background: linear-gradient(
  90deg,
  #0F172A,
  #0D9488,
  #06B6D4
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

header {
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #003366;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}

main {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 80px;
  padding: 20px;
  font-size: 14px;
  color: #666;
  text-align: center;
}
